@use "../utils/functions" as *;

.button {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    margin: 5px 0;
    transition: background-color .3s ease;
    border-radius: 10px;
    border: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    white-space: nowrap;
    font-size: rem(14);
    line-height: 1;
    color: var(--glass-gray-2);

    &:hover {
        cursor: pointer;
    }

    &:active,
    &:hover,
    &.key-pressed {
        background: rgba(255, 255, 255, 0.432);
    }

    &__icon {
        font-size: rem(22);
        line-height: 20px;
        border-radius: 2px;
        text-align: center;
        color: var(--glass-gray-2);
        filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.5));
    }

}


$white: #fff;
$google-blue: #031636;
$button-active-blue: #1669F2;

.google-btn {
    width: 200px;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }

    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }

    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }

    &:active {
        background: $button-active-blue;
    }
}