@use "../utils/functions" as *;

#choices {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .button {
        height: 60px;
        width: 230px;
        font-size: rem(25);
        justify-content: center;

        &__icon {
            font-size: rem(35);
        }
    }

    .score-animation {
        position: absolute;
        font-size: rem(25);
        font-weight: bold;
        animation: flyaway 1s linear;
    }

    .score-animation.increase {
        color: #00ff00;
        /* Green color */
    }

    .score-animation.decrease {
        color: #ff0000;
        /* Red color */
    }

    @keyframes flyaway {
        0% {
            opacity: 1;
            transform: translate(0, 0);
        }

        100% {
            opacity: 0;
            transform: translate(0, -200px);
        }
    }
}