@use "../utils/functions" as *;

#choices {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .button {
        height: 60px;
        width: 230px;
        font-size: rem(25);
        justify-content: center;

        &__icon {
            font-size: rem(35);
        }
    }
}