@use "../utils/breakpoints" as *;

@include breakpoint(medium) {
    .content {
        margin-left: 200px;
    }
}

#popup-window {
    position: fixed;
    display: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 80%;
    background: var(--glass-gray-1);
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    z-index: 3;
    pointer-events: none;

    &.is-active {
        display: block;
        pointer-events: auto;
        // Add zoom out smooth transition on click
        transition: transform 0.3s ease-in-out;

    }
}

.x-close {
    font-size: 50px;
    line-height: 1;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}

.disable-interaction {
    pointer-events: none;
}