@use "../utils/breakpoints" as *;

$toggleSize: 40px;
$toggleMargin: 10px;
$toggleLine: 4px;
$toggleColor: var(--glass-gray-1);

.nav-container {
    position: absolute;
    display: inline-block;
    max-width: $toggleSize + $toggleMargin;
    max-height: $toggleSize + $toggleMargin;
    overflow: visible;
    outline: none;

    &.is-active {
        .nav-toggle {

            &:before,
            &:after {
                box-shadow: none;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        .nav-items {
            transform: translate(0, 0);
        }
    }

    .nav-toggle {
        $offset: $toggleSize * 0.5;

        position: relative;
        width: $toggleSize;
        height: $toggleSize;
        margin: $toggleMargin;
        background: var(--glass-colour);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: calc($offset - $toggleLine / 2);
            left: calc(($toggleSize * 0.2) / 2);
            transform: translate(0, 0);
            width: 80%;
            height: $toggleLine;
            background: $toggleColor;
            transition: transform .3s ease, box-shadow .3s ease;
            border-radius: calc($toggleLine / 2);
        }

        &:before {
            box-shadow: 0 calc($offset / 1.5) 0 0 $toggleColor;
        }

        &:after {
            box-shadow: 0 calc(-#{$offset} / 1.5) 0 0 $toggleColor;
        }
    }

    .nav-items {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 200px;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transition: transform .3s ease;
        transform: translateX(calc(-100% - 50px));
        background: var(--glass-colour);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px 0;
        align-content: flex-start;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        .btn-container {
            display: flex;
            flex-direction: column;
            gap: 5px 0;
            padding: 20px;
        }
    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        .nav-toggle {
            display: none;
        }

        .nav-items {
            position: fixed;
            width: auto;
            transform: none;
        }
    }

    .profile-container {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        gap: 0 10px;
        background: var(--glass-colour);
        backdrop-filter: blur(10px);

        #profile-picture {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            #profile-name {
                font-size: 15px;
                font-weight: 600;
            }

            #profile-email {
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}